* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.chess{
  display: flex;
}
.box{
  width:150px;
  height: 150px;
  border: 1px solid black;
  display: inline-block;
  margin: -2px;
}
.black{
  background-color: black;
}
